on:
  push:
    branches:
      - main
  workflow_dispatch:

name: Generate a list of contributors

jobs:
  contrib-readme-en-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Contribute List
        uses: akhilmhdh/contributors-readme-action@v2.3.4
        env:
          GITHUB_TOKEN: ${{ secrets.CONTRIBUTORS_TOKEN }}


